include *.txt
include *.md
include *.pkl
recursive-include ./bikerent_model *

include bikerent_model/datasets/bike-sharing-dataset.csv
include bikerent_model/datasets/test.csv
include bikerent_model/trained_models/*.pkl
include bikerent_model/VERSION
include bikerent_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]